<template>
  <div>
    <b-button v-if="false" variant="outline-primary" @click="getFactorialNumber"
      >Query
    </b-button>

    <b-table striped hover :items="resultSet" :fields="fields"></b-table>
  </div>
</template>
<script>
// import axios from "axios";
// import Toastify from 'toastify-js'
// import getHistory from "../service/HistoryService";
export default {
  props:{
    resultSet:{
      type:Array,
      default:()=>[]
    }
  },
  data: function() {
    return {
     // resultSet: [],
      //fields: ['number_input', 'factorial', 'created_at'],
     // fields: ["date_done", "result", "status"],
     fields:[
        {
            key: 'date_done',
            label: 'Executed taks date',
            sortable: true,
        },
         {
            key: 'result',
            label: 'Factorial Result',
            sortable: true,
        }, {
            key: 'status',
            label: 'Factorial Status',
            sortable: true,
        }
     ]
    };
  },
  mounted() {
   // this.getFactorialNumber();
  },
  methods: {
    getFactorialNumber() {
      //this.working = true;
     
    },
  },
};
</script>
