<template>
  <div class="row">
    <div class="col form-inline">
      <b-form-group>
        <label for="">Type the number to calculate factorial</label>

        <b-form-input
          id="inline-form-input-name"
          class="mb-2 mr-sm-2 mb-sm-0"
          placeholder="Type here the number"
          v-model="number"
        ></b-form-input>
        <b-button variant="outline-primary" @click="getFactorialNumber">
          <span v-if="!working"> get Factorial ! </span>
          <span
            v-if="working"
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span v-if="working" class="sr-only">Calculating...</span>
        </b-button>
      </b-form-group>
    </div>
    <div v-if="false" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">=</span>
      </div>
      <label class="form-control" for="">{{ result }}</label>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Toastify from "toastify-js";
const terminaStatus = ["SUCCESS", "FAILURE", "REVOKED"];
export default {
  data: function() {
    return {
      number: 0,
      result: 0,
      //task_id: "",
      tasks:[], //store pending task
      working: false,
    };
  },
  mounted() {
    //now I should call the function to check if the task was done
    // I set this here only once
    setInterval(this.checkTask, 3000);
  },
  methods: {
    getFactorialNumber() {
      this.working = true;
      //const server = "http://localhost:5000";
      const server = process.env.VUE_APP_API_URL;
      console.log(server);
      axios
        .get(server + `/factorial/${this.number}`)
        .then((res) => {
          this.result = res.data;
          //this.task_id = res.data.task_id;
          this.tasks.push(res.data.task)
          const msj = res.data.message;
          Toastify({
            text: `Factorial Task!: ${msj} `,
            duration: 3000,
            className: "warning",
          }).showToast();
          //because is local sometimes the task is success when it is returned so in that case I should also emit 
          if(terminaStatus.includes(res.data.task.status)){
            this.$emit('completedTask')
          }
          
        })
        .catch((error) => {
          console.warn(error.response);
          Toastify({
            text: `Error while getting result!. ${error.response.data.message}`,
            duration: 3000,
            backgroundColor: "linear-gradient(to right, #DF390C, #96c93d)",
          }).showToast();
        })
        .finally(() => (this.working = false));
    },
    /**
     * THis method check the status of the tasks with no terminal status, usually pending or in progress task
     */
    checkTask() {
      const server = process.env.VUE_APP_API_URL;
      console.log(server);
      //Check not terminal status
      
      console.log(this.tasks)
      this.tasks.filter(t=>!terminaStatus.includes(t.status)).forEach(t=>{
        axios.get(server + `/processs/status/${t.id}`).then((res) => {
          console.log(res.data.task_id);
          console.log(res.data.status);
          console.log(t);
          t.status=res.data.status
          if("SUCCESS"==res.data.status){
            console.log("completed")
            //here I can emmit an event
            this.$emit('completedTask')
          }
        });
      })
      
    },
  },
};
</script>
