<template>
  <div id="app" class="container">
    <h1>Factorial Calculator</h1>
   
     <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <InputCalculator @completedTask="completedTask($event)"/>
    <HistoricalFactorialResult :resultSet="resultSet"/>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import InputCalculator from './components/InputCalculator.vue'
import HistoricalFactorialResult from './components/HistoricalFactorialResult.vue'
import getHistory from "./service/HistoryService";

export default {
  name: 'App',
  components: {
    // HelloWorld,
    InputCalculator,
    HistoricalFactorialResult
  },
  data(){
    return {
      resultSet:[]
    }
  },
  methods:{
    completedTask(event){
      console.log(event)
       getHistory()
        .then((data) => {
          this.resultSet = data;
        })
        .finally(() => {
          this.working = false;
        });
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
